html { height: 100%; }

body {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    position: relative;
    min-height: 100%;
}

/* main background color */
.navbar, footer {
    background-color: #202c39;
}

footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 3rem;
    padding-top: 0.5rem;
}

.post-date {
    font-size: .75rem;
}

.post a:hover {
    text-decoration: none !important;
}